{% extends "base.html.twig" %}

{% block body %}
    {% set route = app.request.attributes.get('_route') %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">JSN</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% if 'homepage' != route %}{{ path('homepage') }}{% endif %}#about">About</a></li>
                    <li><a href="{% if 'homepage' != route %}{{ path('homepage') }}{% endif %}#jesuit-science">Jesuit Sciences</a></li>
                    <li><a href="{% if 'homepage' != route %}{{ path('homepage') }}{% endif %}#sources">Sources</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li{% if 'search' == route %} class="active"{% endif %}><a href="{{ path('search') }}">Advanced Search</a></li>
                    <li class="dropdown{% if 'list' == route or 'subjects' == route or 'map' == route or 'graph' == route %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Lists</li>
                            <li><a href="{{ path('list') }}">Persons</a></li>
                            <li><a href="{{ path('subjects') }}">Subjects</a></li>
                            {#<li><a href="#">Something else here</a></li>#}
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Visualizations</li>
                            <li><a href="{{ path('map') }}">Map</a></li>
                            <li{% if 'graph' == route %} class="active"{% endif %}><a href="#">Graph</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search" action="{{ path('search') }}" method="POST">
                    <div class="form-group">
                        <input
                                id="jsn-search"
                                data-url="{{ path('autocomplete_persons') }}?q=%QUERY"
                                data-url-places="{{ path('autocomplete_places') }}?q=%QUERY"
                                type="text"
                                class="form-control search"
                                placeholder="Search the JSN"
                                >
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div id="top-shadow"></div>

    {% block content %}{% endblock %}

    <footer>
        <div class="container logos">
            <div class="col-sm-12">
                <ul class="list-inline">
                    <li><a href="#"><img src="{{ asset('images/logos/buw.png') }}" height="30"/></a></li>
                    <li><a href="#"><img src="{{ asset('images/logos/izwt.png') }}" height="30"/></a></li>
                    <li><a href="#"><img src="{{ asset('images/logos/dfg.png') }}" height="30"/></a></li>
                    <li><a href="#"><img src="{{ asset('images/logos/bbaw.png') }}" height="30"/></a></li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="col-sm-4">
                    <h4>Partners</h4>
                    <p>
                        The project behind the Jesuit Science Network is funded by the <a href="http://www.dfg.de/en/">DFG</a>
                        (2011-2016) and located at the <a href="#">Interdisciplinary Centre for Science and Technology Studies</a> at
                        <a href="#">Wuppertal University</a>.
                    </p>
                    <p>
                        The main database behind the JSN along with its
                        editing tools are powered by the <a href="#">Person Data Repository</a> project at the <a href="#">BBAW</a>.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h4>Project Manager</h4>

                    <p>
                        <a href="http://www.geschichte.uni-wuppertal.de/personen/wissenschafts-und-technikgeschichte/prof-dr-volker-remmert.html">Volker Remmert</a><br>
                        Wuppertal University<br>
                        remmert@<span class="hidden">null</span>uni-wuppertal.de
                    </p>

                    <h4>Primary Investigator</h4>
                    <p>
                        <a href="http://www.geschichte.uni-wuppertal.de/personen/wissenschafts-und-technikgeschichte/dagmar-mrozik.html">Dagmar Mrozik</a><br>
                        Wuppertal University<br>
                        mrozik@<span class="hidden">null</span>uni-wuppertal.de
                    </p>
                </div>
                <div class="col-sm-4">
                    <h4>Contact</h4>

                    <p>
                        <em>Wuppertal University</em><br>
                        IZWT<br>
                        Bergische Universität Wuppertal<br>
                        Gaußstraße 20<br>
                        42119 Wuppertal
                    </p>

                </div>
            </div>
        </div>
        <div class="black-bar">
            <div class="container">
                <div class="col-xs-12">
                    <p>Copyright 2015 by someone. All rights reserved. <a href="{{ path('imprint') }}">Imprint</a></p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
