{% import "macros.html.twig" as macro %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Person</th>
        <th>Date</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for aspect in pagination %}
        <tr>
            <td style="white-space: nowrap;">
                <a href="{{ path('detail', {id:aspect.person.id}) }}">{{ aspect.person.listName }}</a>
            </td>
            <td style="white-space: nowrap;">
                {% if aspect.dateExact %}
                    {{ aspect.dateExact }}
                {% elseif aspect.dateFrom or aspect.dateTo %}
                    {{ aspect.dateFrom }} – {{ aspect.dateTo }}
                {% endif %}
            </td>
            <td>
                {% if "entryInTheOrder" == aspect.type %}
                    Entered the Society of Jesus {{ macro.places(aspect, false) }}
                {% elseif "beginningOfLife" == aspect.type %}
                    Born {{ macro.places(aspect, false) }}
                {% elseif "endOfLife" == aspect.type %}
                    Died {{ macro.places(aspect, false) }}
                {% elseif "resignationFromTheOrder" == aspect.type %}
                    Left the Society {{ macro.places(aspect, false) }}
                {% elseif "expulsionFromTheOrder" == aspect.type %}
                    Was expelled from the Society {{ macro.places(aspect, false) }}
                {% elseif "education" == aspect.type %}
                    Studied {{ macro.subjects(aspect, true, false) }}{{ macro.places(aspect, false) }}
                    {{ macro.comment(aspect) }}
                {% elseif "career" == aspect.type %}
                    {% if not aspect.occupation %}
                        Occupied himself with {{ macro.subjects(aspect, true, false) }}{{ macro.places(aspect, false) }}
                    {% else %}
                        {{ aspect.occupation }}{% if aspect.subjects|length %} of {{ macro.subjects(aspect, true, false) }}{% endif %}{{ macro.places(aspect, false) }}
                    {% endif %}
                {% else %}
                    {{ aspect.description|replace_links(currentPo is defined ? [currentPo] : [], false)|smart_quotes }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
