{% extends 'layout.html.twig' %}



{% block content %}
    <div class="container detail">
        <div class="col-sm-8">

            <header>
                <h1>{{ person.firstName }} {{ person.lastName }} <small class="text-muted">({{ person.dateOfBirth }}–{{ person.dateOfDeath }})</small></h1>
                <p class="small text-muted pref">
                    IDI: <a href="https://pdrprod.bbaw.de/idi/pdr/{{ person.pdrId }}" title="Download raw data as XML" download><code>{{ person.pdrId }}</code></a>{% if person.viafId %} &bull; VIAF: <a target="_blank" href="http://viaf.org/viaf/{{ person.viafId }}"><code>{{ person.viafId }}</code></a>{% endif %}
                </p>


            </header>

            <h4>Aspects</h4>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>When</th>
                        <th>Where</th>
                        <th>What</th>
                    </tr>
                </thead>
                <tbody>
                {% for aspect in aspects %}
                    {% set aspect = aspect.0 %}
                <tr>
                    <td>{{ aspect.dateFrom }}–{{ aspect.dateTo }}</td>
                    <td>{{ aspect.placeName }}</td>
                    <td>{{ aspect.description }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="col-sm-4 col-right">
            <h4>Alternative Spellings</h4>
            <div class="panel panel-default">
                <ul class="list-group">
                    {% for name in person.alternateNames %}
                    <li class="list-group-item">{{ name.displayName }}</li>
                    {% endfor %}
                </ul>
            </div>

            <h4>Related subjects</h4>
            <div class="panel panel-default">
                <div class="list-group">
                    <a class="list-group-item" href="#">mathematics</a>
                    <a class="list-group-item" href="#">astronomy</a>
                    <a class="list-group-item" href="#">architecture</a>
                    <a class="list-group-item" href="#">exact sciences</a>
                    <a class="list-group-item" href="#">physics</a>
                    <a class="list-group-item" href="#">astronomical observatory</a>
                </div>
            </div>

            <h4>Relations</h4>
            <div class="panel panel-default">
                <ul class="list-group">
                    <a class="list-group-item" href="#">Marcin Poczobut</a>
                    <a class="list-group-item" href="#">Joseph Stepling</a>
                    <a class="list-group-item" href="#">Rudjer Bošković</a>
                    <a class="list-group-item" href="#">Maximilian Hell</a>
                </ul>
            </div>
        </div>
    </div>

    <div id="map" style="height:350px;"></div>

    <div class="container detail">
        <h4>Sources</h4>
        <ol>
            <li>Jezuici polscy a nauki ścisłe od XVI do XIX wieku: słownik bio-bibliograficzny</li>
            <li>Diccionario histórico de la Compañía de Jesús</li>
        </ol>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8,
                scrollwheel: false
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAj3xGeT4xh_SJyqeiPJqMKHY0UnQV2Eg&callback=initMap" async defer></script>
{% endblock %}
