{% extends 'layout.html.twig' %}



{% block content %}
    <div class="container detail">
        <div class="col-sm-8">

            <header>
                <h1>{{ person.displayName }} <small class="text-muted">({{ person.dateOfBirth }}–{{ person.dateOfDeath }})</small></h1>
                <p class="small text-muted pref">
                    IDI: <a href="https://pdrprod.bbaw.de/idi/pdrnc/{{ person.pdrId }}" title="Download raw data as XML" download><code>{{ person.pdrId }}</code></a>{% if person.viafId %} &bull; VIAF: <a target="_blank" href="http://viaf.org/viaf/{{ person.viafId }}"><code>{{ person.viafId }}</code></a>{% endif %}
                </p>


            </header>

            <ul class="list-unstyled timeline">
                {% for aspect in aspects %}
                    {% set aspect = aspect.0 %}
                <li class="timeline-entry type-{{ aspect.type }}">
                    <span class="date">
                        {% if aspect.dateExact %}
                            {{ aspect.dateExact }}
                        {% elseif aspect.dateFrom or aspect.dateTo %}
                            {{ aspect.dateFrom }} – {{ aspect.dateTo }}
                        {% endif %}
                    </span>
                    {% for place in aspect.places %}
                    <span class="place"><button type="button" data-lat="{{ place.latitude }}" data-lng="{{ place.longitude }}" class="geo btn btn-link">{{ icon('map-marker') }} {{ place.placeName }}</button></span>
                    {% endfor %}
                    {% if "entryInTheOrder" == aspect.type %}
                        <em>Entered the order</em>
                    {% elseif "beginningOfLife" == aspect.type %}
                        <em>Born</em>
                    {% elseif "endOfLife" == aspect.type %}
                        <em>Died</em>
                    {% elseif "resignationFromTheOrder" == aspect.type %}
                        <em>Resigned from the order</em>
                    {% elseif "expulsionFromTheOrder" == aspect.type %}
                        <em>Expelled from the order</em>
                    {% endif %}
                    {{ aspect.comment }}
                    {% if aspect.subjects|length %}
                        <ul class="list-inline">
                            {% for subject in aspect.subjects %}
                                <li><a href="{{ path('subject', {slug:subject.slug}) }}"><span class="badge badge-default">{{ subject.title }}</span></a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>

        </div>
        <div class="col-sm-4 col-right">
            {% if person.alternateNames|length %}
            <h4>Alternate names</h4>
            <div class="panel panel-default alternate-names">
                <div class="panel-body">
                <ul class="list-unstyled">
                    {% set hiddenItems = false %}
                    {% for name in person.alternateNames %}
                    <li {% if loop.index > 5 %}{% if hiddenItems == false %}{% set hiddenItems = (loop.revindex+0) %}{% endif %} class="hidden"{% endif %}>{{ name.displayName }}</li>
                    {% endfor %}
                </ul>
                    {% if hiddenItems != false %}
                    <div class="text-center" style="border-top: 1px solid #eee">
                        <button type="button" class="btn btn-link js-show-hiddennames">Show {{ hiddenItems }} more names</button>
                    </div>
                    {% endif %}
                </div>
            </div>
                {% if person.viafId %}
                <p class="viaf-notice">
                    May include data from <a target="_blank" href="http://viaf.org/viaf/{{ person.viafId }}">viaf.org</a>
                </p>
                {% endif %}
            {% endif %}

            {% if person.subjects|length %}
            <h4>Related subjects</h4>
            <div class="panel panel-default">
                <div class="list-group">
                    {% for subject in person.subjects %}
                    <a class="list-group-item" href="{{ path('subject', {slug:subject.slug}) }}">{{ subject.title }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if person.relationsOutgoing|length %}
            <h4>Relations</h4>
            <div class="panel panel-default">
                <ul class="list-group">
                    {% for relation in person.relationsOutgoing %}
                    <a class="list-group-item" href="{{ path('detail', {id:relation.id}) }}">{{ relation.target.displayName }}</a>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    <div id="map" style="height:350px;"></div>

    <div class="container detail">
        <h4>Sources</h4>
        <ol>
            {% for source in person.sources %}
            <li>
                <strong>{{ source.id }}</strong>
                <pre>
                    {{ source.payload }}
                </pre>
            </li>
            {% endfor %}
        </ol>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8,
                scrollwheel: false
            });

            var bounds = new google.maps.LatLngBounds();
            $('.geo').each(function() {
                var $this = $(this),
                    pos = new google.maps.LatLng(
                            parseFloat($this.data('lat')),
                            parseFloat($this.data('lng'))
                    )
                ;
                new google.maps.Marker({position: pos, map: map});
                bounds.extend(pos);
                $this.click(function(e) {
                    e.preventDefault();
                    map.setCenter(pos);
                    map.setZoom(8);
                    window.scrollTo('#map', 50);
                });
            });
            map.fitBounds(bounds);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAj3xGeT4xh_SJyqeiPJqMKHY0UnQV2Eg&callback=initMap" async defer></script>
    <script type="text/javascript">

    </script>
{% endblock %}
