{% extends 'layout.html.twig' %}



{% block content %}
    <style type="text/css">
        .gm-style-iw .citation, .gm-style-iw .geo {
            display: none;
        }
    </style>
    <div class="container detail">
        <div class="col-sm-8">

            <header>
                <h1>{{ person.displayName }} <small class="text-muted">({{ person.dateOfBirth }}–{{ person.dateOfDeath }})</small></h1>
                <p class="small text-muted pref">
                    <a target="_blank" href="{{ path('data', {format: 'xml', id: person.id}) }}" title="View as XML"><code>XML</code></a>
                    <a target="_blank" href="{{ path('data', {format: 'json', id: person.id}) }}" title="View as JSON"><code>JSON</code></a>
                    <a target="_blank" href="https://pdrprod.bbaw.de/idi/pdrnc/{{ person.pdrId }}" title="Download raw, unprocessed data as XML"><code>RAW</code></a>
                    {% if person.viafId %} &bull; VIAF: <a target="_blank" href="http://viaf.org/viaf/{{ person.viafId }}"><code>{{ person.viafId }}</code></a>{% endif %}
                </p>


            </header>

            {% for section, subSections in aspects %}
            <h4>{{ section }}</h4>
            <ul class="aspect-list timeline">
            {% for aspectList in subSections %}
                {% for aspect in aspectList %}
                    <li class="aspect timeline-entry" data-symbol="{{ section[:1]|capitalize }}">
                        <div class="aspect-inner">
                            {% include "include/aspect.html.twig" with {aspect: aspect} only %}
                        </div>
                        {% include "include/marker.html.twig" with {aspect: aspect} only %}
                    </li>
                {% endfor %}
            {% endfor %}
            </ul>
            {% endfor %}

            {% if person.relationsOutgoing|length %}
                <h4>Relations</h4>
                <ul class="aspect-list timeline">
                    {% for relation in person.relationsOutgoing %}
                        <li class="aspect timeline-entry" data-symbol="I">
                            <div class="aspect-inner">
                                {% include "include/aspect.html.twig" with {aspect: relation.aspect, currentPo: person.id} only %}
                            </div>{% include "include/marker.html.twig" with {aspect: relation.aspect} only %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if person.relationsIncoming|length %}
                <h4>Relations from others</h4>
                <ul class="aspect-list timeline">
                    {% for relation in person.relationsIncoming %}
                        <li class="aspect timeline-entry" data-symbol="O">
                            <div class="aspect-inner">
                            {% include "include/aspect.html.twig" with {aspect: relation.aspect, currentPo: person.id} only %}
                            </div>
                            {% include "include/marker.html.twig" with {aspect: relation.aspect} only %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
        <div class="col-sm-4 col-right">
            {% if person.alternateNames|length %}
            <h4>Alternate names</h4>
            <div class="panel panel-default alternate-names">
                <div class="panel-body">
                <ul class="list-unstyled">
                    {% set hiddenItems = false %}
                    {% for name in person.alternateNames %}
                    <li {% if loop.index > 5 %}{% if hiddenItems == false %}{% set hiddenItems = (loop.revindex+0) %}{% endif %} class="hidden"{% endif %}>{{ name.displayName }}</li>
                    {% endfor %}
                </ul>
                    {% if hiddenItems != false %}
                    <div class="text-center" style="border-top: 1px solid #eee">
                        <button type="button" class="btn btn-link js-show-hiddennames">Show {{ hiddenItems }} more names</button>
                    </div>
                    {% endif %}
                </div>
            </div>
                {% if person.viafId %}
                <p class="viaf-notice">
                    May include data from <a target="_blank" href="http://viaf.org/viaf/{{ person.viafId }}">viaf.org</a>
                </p>
                {% endif %}
            {% endif %}

            {% if person.subjects|length %}
            <h4>Related subjects</h4>
            <div class="panel panel-default">
                <div class="list-group">
                    {% for subject in person.subjects %}
                    <a class="list-group-item" href="{{ path('search', {subjects:subject.id}) }}">{{ subject.title }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if relations|length %}
            <h4>Relations</h4>
            <div class="panel panel-default">
                <ul class="list-group">
                    {% for relation in relations %}
                    <a class="list-group-item" href="{{ path('detail', {id:relation.id}) }}">{{ relation.name }}</a>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    <div id="map" style="height:350px;"></div>

    <div class="tooltip top" role="tooltip" id="map-tooltip">
        {#<div class="tooltip-arrow"></div>#}
        <div class="tooltip-inner"></div>
    </div>

    <div class="container detail">
        <h4>Sources</h4>
        <ol class="source-list">
            {% for source in person.sources %}
            <li id="source-{{ source.id }}">
                {% include "include/source.html.twig" with {source: source} only %}
            </li>
            {% endfor %}
        </ol>
    </div>

{% endblock %}

{% set enableMap = true %}

{% block javascripts %}
    <script type="text/javascript">
        var map;
        $('body').on('map:ready', function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 10,
                minZoom: 3,
                mapTypeControl: false,
                streetViewControl: false,
                maxZoom: 10,
                scrollwheel: false
            });

            var bounds = new google.maps.LatLngBounds();
            $('.geo').on('click', function(e) {
                e.preventDefault();
                var $this = $(this),
                        pos = new google.maps.LatLng(
                                parseFloat($this.data('lat')),
                                parseFloat($this.data('lng'))
                        )
                        ;
                map.setCenter(pos);
                map.setZoom(10);
                window.scrollTo('#map', 50);
            });

            var info = new google.maps.InfoWindow({
                content: ''
            });
//            var $tooltip = $('#map-tooltip'), $tooltipInner = $tooltip.find('.tooltip-inner');


            $('.marker').each(function() {
                var $this = $(this),
                    pos = new google.maps.LatLng(
                            parseFloat($this.data('lat')),
                            parseFloat($this.data('lng'))
                    )
                ;

                var aspect = $this.closest('.aspect').find('.aspect-inner').html();
                console.log('type:', $this.closest('.aspect').data('symbol'));
                var marker = new google.maps.Marker({
                    position: pos,
                    map: map,
                    label: $this.closest('.aspect').data('symbol'),
                    title: $this.data('title')
                });

//                google.maps.event.addListener(marker, 'mouseover', function(e) {
//                    console.log(marker);
//                    //$(marker).tooltip({placement: 'right'});
//                    $tooltipInner.html($this.data('title'));
//                    $tooltip.show();
//                    $tooltip.offset({top: e.pixel.y, left: e.pixel.x });
//                });

                marker.aspect = aspect;

                marker.addListener('click', function() {
                    info.setContent(aspect);
                    info.open(map, marker);
                });

                bounds.extend(pos);
            });
            map.fitBounds(bounds);
        });
    </script>
{% endblock %}
