{% extends "layout.html.twig" %}

{% macro person(person) %}
    <li class="entry">
        <a href="{{ path('detail', {id:person.id}) }}">{{ person.listName }}</a>
        <small class="text-muted">({{ person.dateOfBirth }}–{{ person.dateOfDeath }})</small>
    </li>
{% endmacro %}

{% import _self as macro %}

{% block bodyAttributes %} data-spy="scroll" data-target="#letter-list"{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .jumptarget:before {
            height:170px; /* fixed header height*/
            margin:-170px 0 0; /* negative fixed header height */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container container-narrow alph-list fixed">
        <div class="col-xs-12" id="letter-list">
            <header>
                <small class="pull-right text-muted" style="margin-top: 20px; line-height: 28px;"><em>
                        {% if jesuitview %}
                        <a href="{{ path('list_nonjesuits') }}">{{ otherCount }} non-Jesuits</a>
                        {% else %}
                        <a href="{{ path('list') }}">{{ otherCount }} Jesuits</a>
                        {% endif %}
                    </em></small>
                <h2>
                    <span class="text-muted">{{ personCount }}</span> {% if not jesuitview %}non-{% endif %}Jesuits
                </h2>
                <ul class="nav nav-pills letter-list">
                    {% for letter in range('A', 'Z') %}
                    {% if letters[letter] is defined %}
                        <li><a href="#{{ letter }}">{{ letter }}</a></li>
                    {% else %}
                        <li class="disabled" role="presentation"><a>{{ letter }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </header>
            <div>
                {% for letter, persons in letters %}
                <h4 class="jumptarget" id="{{ letter }}">{{ letter }} <small class="text-muted">{{ persons|length }}</small></h4>
                <ul class="list-unstyled">
                {% for person in persons %}
                    {{ macro.person(person) }}
                {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
