{% extends "layout.html.twig" %}

{% block bodyAttributes %} data-spy="scroll" data-target="#letter-list"{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .jumptarget:before {
            height:170px; /* fixed header height*/
            margin:-170px 0 0; /* negative fixed header height */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container container-narrow alph-list fixed">
        <div class="col-xs-12" id="letter-list">
            <header class="clearfix">
                <h2>
                    <span class="text-muted">{{ count }}</span> occupations
                </h2>
                <ul class="nav nav-pills letter-list">
                    {% for letter in range('A', 'Z') %}
                        {% if letters[letter] is defined %}
                            <li><a href="#{{ letter }}">{{ letter }}</a></li>
                        {% else %}
                            <li class="disabled" role="presentation"><a>{{ letter }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </header>
            <div>
                {% for letter, occupations in letters %}
                    <h4 class="jumptarget" id="{{ letter }}">{{ letter }} <small class="text-muted">{{ occupations|length }}</small></h4>
                    <ul class="list-unstyled">
                        {% for occupation in occupations %}
                        <li>
                            <a href="{{ path('occupation', {slug: occupation.occupationSlug}) }}">{{ occupation.occupation|capitalize }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
