{% extends "layout.html.twig" %}

{% block bodyAttributes %} data-spy="scroll" data-target="#letter-list"{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .jumptarget:before {
            height:170px; /* fixed header height*/
            margin:-170px 0 0; /* negative fixed header height */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container container-narrow alph-list">
        <div class="col-xs-12" id="letter-list">
            <header>
                <h2>
                    <span class="text-muted">{{ fullCount }}</span> subjects
                </h2>
                <ul class="nav nav-pills letter-list">
                    {% for letter in range('A', 'Z') %}
                        {% if letters[letter] is defined %}
                            <li><a href="#{{ letter }}">{{ letter }}</a></li>
                        {% else %}
                            <li class="disabled" role="presentation"><a>{{ letter }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </header>
            <div>
                {% for letter, entries in letters %}
                    <h4 class="jumptarget" id="{{ letter }}">{{ letter }}</h4>
                    <ul class="list-unstyled">
                        <li class="entry">
                            Subject <small class="text-muted"><em>mentions</em> &bull; <em>associated persons</em></small>
                        </li>
                        <li class="list-separator"></li>
                        {% for entry in entries %}
                            <li class="entry">
                                <a href="{{ path('subject', {slug:entry.subject.slug}) }}">{{ entry.subject.title }}</a>
                                <small class="text-muted">{{ entry.aspectCount }} &bull; {{ entry.personCount }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
