{% extends "layout.html.twig" %}

{% block content %}

    <div class="container container-narrow">
        <div class="col-xs-12">

            <h1>{{ subject.title }}</h1>
            <h4 class="text-muted">{{ persons|length }} Person{% if persons|length != 1 %}s{% endif %} related to {{ subject.title }}</h4>

            <ul class="list-unstyled">
                {% for entry in persons %}
                <li><a href="{{ path("detail", {id:entry.person.id}) }}">{{ entry.person.displayName }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}
