{% extends "layout.html.twig" %}

{% if scheme is not defined %}
{% block bodyAttributes %} data-spy="scroll" data-target="#letter-list"{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .jumptarget:before {
            height:170px; /* fixed header height*/
            margin:-170px 0 0; /* negative fixed header height */
        }
    </style>
{% endblock %}
{% endif %}

{% block content %}
    <div class="container container-narrow alph-list{% if scheme is not defined %} fixed{% endif %}">
        <div class="col-xs-12">
            <header>
                <ul class="pull-right nav nav-pills group-nav">
                    <li{% if scheme is not defined %} class="active"{% endif %}><a href="{{ path('subjects') }}">alphabetical</a></li>
                    <li{% if scheme is defined and scheme == 'harris' %} class="active"{% endif %}><a href="{{ path('subjects_grouped', {scheme: 'harris'}) }}">contemporary grouping</a></li>
                    <li{% if scheme is defined and scheme == 'modern' %} class="active"{% endif %}><a href="{{ path('subjects_grouped', {scheme: 'modern'}) }}">modern grouping</a></li>
                </ul>
                <h2>
                    {% if groupCount is defined and groupCount %}
                        <span class="text-muted">{{ groupCount }}</span> groups
                    {% else %}
                        <span class="text-muted">{{ fullCount }}</span> subjects
                    {% endif %}
                </h2>
                {% if scheme is not defined %}
                <div id="letter-list">
                <ul class="nav nav-pills letter-list">
                    {% for letter in range('A', 'Z') %}
                        {% if letters[letter] is defined %}
                            <li><a href="#{{ letter }}">{{ letter }}</a></li>
                        {% else %}
                            <li class="disabled" role="presentation"><a>{{ letter }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                </div>
                {% endif %}
            </header>
            {% if groupCount is defined %}
            <p class="total-count"><em>{{ fullCount }} subjects total</em></p>
            {% endif %}
            <div>
                {% for letter, entries in letters %}
                    <h4 class="jumptarget" id="{{ letter }}">{{ letter }}</h4>
                    <ul class="list-unstyled">
                        <li class="entry">
                            Subject <small class="text-muted"><em>mentions</em> &bull; <em>associated persons</em></small>
                        </li>
                        <li class="list-separator"></li>
                        {% for entry in entries %}
                            <li class="entry">
                                <a href="{{ path('subject', {slug:entry.subject.slug}) }}">{{ entry.subject.title }}</a>
                                <small class="text-muted">{{ entry.aspectCount }} &bull; {{ entry.personCount }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
