{% import "macros.html.twig" as macro %}

<div class="title">

<p class="pull-right">
<button type="button" class="close-pane"><i class="fa fa-times"></i></button>
</p>
<h3>{{ place.placeName }}</h3>
<h5><small class="text-muted">{{ place.country|format_country }}</small></h5>
</div>

<div class="list">
{% for section, subSections in aspects %}
    <h4>{{ section }}</h4>
    <table class="table table-unbordered table-condensed">
        <tbody>
        {% for aspectList in subSections %}
            {% for aspect in aspectList %}
                <tr>
                    <td class="text-right" style="width: 100px;">
                        {% if aspect.dateExact %}
                            {{ aspect.dateExact }}
                        {% elseif aspect.dateFrom or aspect.dateTo %}
                            {{ aspect.dateFrom }} – {{ aspect.dateTo }}
                        {% else %}
                            —
                        {% endif %}
                    </td>
                    <td>
                        {% set ps = '<a title="' ~ aspect.person.displayName ~ ' (' ~ aspect.person.dateOfBirth ~ '–' ~ aspect.person.dateOfDeath ~ ')" href="' ~ path('detail', {id: aspect.person.id}) ~ '">' ~ aspect.person.shortName ~ '</a>'|raw %}
                        {% if "entryInTheOrder" == aspect.type %}
                            {{ ps|raw }} &diams;
                        {% elseif "beginningOfLife" == aspect.type %}
                            {{ ps|raw }} *
                        {% elseif "endOfLife" == aspect.type %}
                            {{ ps|raw }} &dagger;
                        {% elseif "resignationFromTheOrder" == aspect.type %}
                            {{ ps|raw }} &times;
                        {% elseif "expulsionFromTheOrder" == aspect.type %}
                            {{ ps|raw }} <i class="fa fa-flash"></i>
                        {% elseif "education" == aspect.type %}
                            {{ ps|raw }} studied {{ macro.subjects(aspect) }}
                        {% elseif "career" == aspect.type %}
                            {% if aspect.affiliation %}
                                {{ ps|raw }} aff. w/ <em>{{ aspect.affiliation }}</em>
                            {% elseif not aspect.occupation %}
                                {{ ps|raw }} occ. w/ {{ macro.subjects(aspect) }}
                            {% else %}
                                {{ ps|raw }} {% if aspect.occupation|lower == 'various offices' %}had{% else %}was{% endif %} <a href="{{ path('search', {occupation:aspect.occupation}) }}">{{ aspect.occupation|lcfirst }}</a>{% if aspect.subjects|length %} of {{ macro.subjects(aspect) }}{% endif %}
                            {% endif %}
                        {% else %}
                            {{ aspect.description|replace_links|smart_quotes }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}

        </tbody>
    </table>
{% endfor %}
</div>
