{% extends "layout.html.twig" %}
{% import "macros.html.twig" as macro %}


{% set enableMap = true %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-3 text-right">
                <h3>Refine</h3>

                {#{{ dump(filter) }}#}

                {% if filter.subjects %}
                <h6>Subjects</h6>
                <ul class="list-unstyled">
                    {% for subj in filter.subjects %}
                    <li><a href="#">{{ subj.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% if filter.continents %}
                <h6>Continents</h6>
                <ul class="list-unstyled">
                    {% for c in filter.continents %}
                    <li><a href="">{{ c|format_continent }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% if filter.countries %}
                <h6>Countries</h6>
                <ul class="list-unstyled">
                    {% for c in filter.countries %}
                    <li><a href="">{{ c|format_country }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% if filter.sources %}
                <h6>Source</h6>
                <ul class="list-unstyled">
                    {% for s in filter.sources %}
                    <li><a href="">
                            {#{% include "include/sourcetext.html.twig" with {source: s} only %}#}
                            {{ macro.namelist(s.authors, true, "; ") }} {{ s.dateIssued }}
                        </a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="col-md-9 search-results" style="border-left: 1px solid #ddd;">

                <h3>{{ pagination.getTotalItemCount }} Results</h3>

                <dl class="query dl-horizontal">
                    {% if query.continent %}
                        <dt>Continent</dt>
                        <dd>{{ query.continent|format_continent }}</dd>
                    {% endif %}

                    {% if query.country %}
                        <dt>Country</dt>
                        <dd>{{ query.country|format_country }}</dd>
                    {% endif %}

                    {% if query.radius %}
                        <dt>Radius</dt>
                        <dd>{{ query.radius.radius }} km around {{ query.radius.center.description }}</dd>
                    {% endif %}

                    {% if query.from %}
                        <dt>Year</dt>
                        <dd>between <em>{{ query.from }}</em> and <em>{{ query.to }}</em></dd>
                    {% endif %}

                    {% if query.subjects %}
                        <dt>Subjects</dt>
                        <dd>
                            {% for subject in query.subjects %}
                                {{ subject }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </dd>
                    {% endif %}
                </dl>

                {#<div class="text-right" style="margin-top: 20px;">#}
                    {#<button type="button" class="btn-sm btn-default btn" style="font-family: Montserrat; font-weight: bold; letter-spacing: 0.5px; text-transform:uppercase;">Show map {{ icon('expand')}}</button>#}
                {#</div>#}
                {#<div class="panel panel-default" style="margin-top: 20px;position:relative;">#}
                    {#<div id="map" style="width: 100%; height: 300px;"></div>#}
                    {#<button type="button" class="pull-right btn-xs btn-default btn" style="position:absolute; top: 5px; right: 5px;border: 0 none; background-color: transparent;">{{ icon('compress')}}</button>#}
                {#</div>#}

                {#<p> results</p>#}

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Person</th>
                            <th>Date</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aspect in pagination %}
                        <tr>
                            <td style="white-space: nowrap;">
                                <a href="{{ path('detail', {id:aspect.person.id}) }}">{{ aspect.person.listName }}</a>
                            </td>
                            <td style="white-space: nowrap;">
                                {% if aspect.dateExact %}
                                    {{ aspect.dateExact }}
                                {% elseif aspect.dateFrom or aspect.dateTo %}
                                    {{ aspect.dateFrom }} – {{ aspect.dateTo }}
                                {% endif %}
                            </td>
                            <td>
                                {% if "entryInTheOrder" == aspect.type %}
                                    Entered the Society of Jesus {{ macro.places(aspect, false) }}
                                {% elseif "beginningOfLife" == aspect.type %}
                                    Born {{ macro.places(aspect, false) }}
                                {% elseif "endOfLife" == aspect.type %}
                                    Died {{ macro.places(aspect, false) }}
                                {% elseif "resignationFromTheOrder" == aspect.type %}
                                    Left the Society {{ macro.places(aspect, false) }}
                                {% elseif "expulsionFromTheOrder" == aspect.type %}
                                    Was expelled from the Society {{ macro.places(aspect, false) }}
                                {% elseif "education" == aspect.type %}
                                    Studied {{ macro.subjects(aspect, true, false) }}{{ macro.places(aspect, false) }}
                                    {{ macro.comment(aspect) }}
                                {% elseif "career" == aspect.type %}
                                    {% if not aspect.occupation %}
                                        Occupied himself with {{ macro.subjects(aspect, true, false) }}{{ macro.places(aspect, false) }}
                                    {% elseif "Teacher" == aspect.occupation %}
                                        Taught {{ macro.subjects(aspect, true, false) }}{{ macro.places(aspect, false) }}
                                    {% else %}
                                        {{ aspect.occupation }}{{ macro.places(aspect, false) }}
                                    {% endif %}
                                {% else %}
                                    {{ aspect.description|replace_links(currentPo is defined ? [currentPo] : [], false)|smart_quotes }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>


            </div>

        </div>

    </div>

{% endblock %}
